
ion-button{
    width: 170px;
}

h1{
    text-align: center;
    font-weight: bold;
    margin:  0;
    margin-top: 1%;
}


@media (min-width: 769px){
    .centro{
        width: 500px;

        margin: auto;
        border-radius: 5%;
        margin-top: 2%;

    }

    form{
        width: 500px;
        padding: 50px 10px;

    }
}