
<ion-content>
  <h1> PeliApp </h1>
<ion-card class=" Registro">
  <ion-card-header class=" Registro">
    <ion-card-title class="text-center" >Registro</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="formularioRegistro" class="ion-text-center"> <!--(keyup.enter)="guardar()"-->
      <ion-item>
        <ion-label position="floating" >Nombre</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label icon="lock-closed-outline" position="floating" >Conraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <br>
      <ion-button (click)="guardar()">Registrar
      </ion-button> 
    </form>
  </ion-card-content>
</ion-card>
</ion-content>
